[Unit]
Description=gammu-smsd service unit 

[Service]
EnvironmentFile=/root/.signalk/node_modules/signalk-renotifier/systemd/service.conf
Restart=always
ExecStartPre=-/usr/sbin/adduser ${GAMMU_USER} ${GAMMU_DEVICE_GROUP}
ExecStart=/usr/bin/gammu-smsd -c ${GAMMUSMSD_CONFIG_FILE} -p ${GAMMUSMSD_WORKING_DIRECTORY}/${GAMMUSMSD_PID} -U ${GAMMU_USER} -G ${GAMMU_GROUP} 
ExecStopPost=/bin/rm ${GAMMUSMSD_WORKING_DIRECTORY}/${GAMMUSMSD_PID}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
